body{
    font-family:'Roboto', sans-serif;
    color: black;
background-color:white;

}

/* HEADER */

a{
    text-decoration:none;
    color:blue;
}

header{
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navbutton{
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
}

.navbutton{
    color: red;
    display: inline-block;
    position: relative;
    padding:5px;
    margin-left: 30px;
    border-radius: 10px 10px 10px 10px;
}

.navbutton:hover{
    background-color:rgb(136, 213, 255);
    transition: 1s;
}


/*BODY*/


.container{
    height: auto;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.text{
    font-family:'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.logo a{
font-family:'Courier New', Courier, monospace;
font-size: 4rem;
padding-right: 10px;
padding-left: 10px;
color: blue;
}

.gallerycontainer{
    font-family: 'Roboto', sans-serif ;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    line-height: 120%;
    font-size: 3rem;
    color:black;
}

.center{
    text-align: center;
    padding-bottom: 10px;
}

.title{
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.containerlive{
    min-height: 500px;
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

/* FOOTER */

/* Social media footer icons */

.footerlinks{
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    font-size: 2.8rem;
    text-decoration: none;
    }

.footerlink1 {
    text-align: right;
    width: 100%;
    padding-right: 10px;
}

.footerlink2 {
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

    /* MODAL IMAGES */

.modalcontainer{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 10px;
        display: block;
    }

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    /* box-shadow: 4px 4px rgba(0, 0, 0, 0.328);   */
}

.myImg:hover {opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 1.5rem;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* responsive */



/* TABLET VIEW */

@media (max-width:768px){ 
    .col{
        width: 47%
    }

/* Note: same class used to hide in desktop used to reveal in tablet/mobile */

    .hide-desktop-only{
       display: block;
   }

   
   header{
       display:block;
       text-align: center;
       align-items: column;
   }

.header-container{
   position: relative;
}


nav{

   display:none;
}


.navbutton{
   margin-left: 0px;
   display:block;
}
.logo{
   padding:40px 0px;
}

.mob-wrapper{
   display: block ;
}
.mob-nav{
   display: none;
}

}



/* MOBILE VIEW */

@media (max-width:400px){

.col{
   width: 100%;
}

.hide-mobile{
   display:none
}




.cards p{

   font-size: 0.85rem; 
   line-height: 1.2;
   margin-top: 10px ;
}


.cards i{
   
   padding-top: 30px;
   font-size:  60px;
}


.card1, .card2, .card3{

   padding: 30px 30px 20px 30px;
   box-sizing: border-box;
}

.cards{

   display:flex;
   justify-content: space-between;
   }


.card1 {

   text-align: right;
   width: 100%;
}


.card2 {
   width: 100%;
   text-align: left;
}

.fa-facebook {  
   color: black;  
} 

.fa-instagram{
   color:black;
}


 .myImg {
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   /* box-shadow: 4px 4px rgba(0, 0, 0, 0.328);   */
}

.myImg:hover {opacity: 0.7;
}

}


